*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 
    "nav nav nav" 1fr
    "header header header" 5fr
    "main main main" 10fr
    "footer footer footer" 30px 
    / 1fr 1fr 1fr;
}

nav {
    grid-area: nav;
    background-color: black;
}

.container nav {
    display: flex;
    justify-content: start;
    padding: 10px;
    grid-gap: 1.7rem;
    align-items: center;
}

nav a:link, nav a:visited {
    display: flex;
    color: white;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: rgb(197, 13, 13);
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.3rem;
}

main {
    grid-area: main;
    display: grid;
    margin-top: 30px;
    grid-template: 
    "paragraph-1 paragraph-1 side-1" 1fr 
    "paragraph-2 paragraph-2 side-2" 1fr
    "paragraph-3 paragraph-3 paragraph-3" 1fr
    / 1fr 1fr 1fr;
}

main section.item-1 {
    grid-area: paragraph-1;
}

main section.sidebar-1 {
    grid-area: side-1;
}

main section.item-2 {
    grid-area: paragraph-2;
}

main section.sidebar-2 {
    grid-area: side-2;
}

main section.item-3 {
    grid-area: paragraph-3;
}

footer {
    grid-area: footer;
}

nav.footer {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
